<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
      li{
        margin-bottom: 30px;
      }
    </style>
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>
    {% if books %}
      <ul>
        {% for result in books %}
          {% for book in result %}
            <li>
              <form action="{{ url_for('delete') }}" method="POST">
                <input type="hidden" name="id" value="{{ book.id }}">
                <button type="submit">Delete the following book:</button>
              </form>
              {{ book.title }} - {{ book.author }} - {{ book.rating }}/10
              <form action="{{ url_for('edit') }}" method="POST">
                <input type="hidden" name="id" value="{{ book.id }}">
                <input type="hidden" name="title" value="{{ book.title }}">
                <input type="hidden" name="rating" value="{{ book.rating }}">
                <button type="submit">Edit refered rating ^ </button>
              </form>
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
    {% else %}
      <h3> Library is empty. </h3>
    {% endif %}
    <a href="{{ url_for('add') }}">Add New Book</a>
  </body>
</html>
