{% extends "base.html" %} {% block content %}

<div class="box">
  <h1>Login</h1>
    {% with warning = get_flashed_messages() %}
    {% if warning %}
      {% for message in warning %}
        <p>{{ message }}</p>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
  <form method="POST">
    <input 
    type="text"
    name="email"
    placeholder="Email"
    required="required" />
    <input
      type="password"
      name="password"
      placeholder="Password"
      required="required"
    />
    <button type="submit" class="btn btn-primary btn-block btn-large">
      Let me in.
    </button>
  </form>
</div>

{% endblock %}
