<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/styles.css">
    <title>Rodrigo</title>
  </head>
  <body>
    <main class="introduction">
    <table cellspacing ="20">
        <tbody>
          <tr>
            <td>
              <img
                src="static/avatar.png"
                alt="Rodrigo funny cartoon avatar"
              />
            </td>
            <td>
              <h1>Rodrigo Farah</h1>
            <p>
                <em><a href="http://www.twoofus.com.br">Musician</a>, pivoting to IT</em>
                            </p>
              <p>
                I am very curious and resilient. I love to code, to play music and
                to cycle inside moutains.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </main>
    <section class="courses">
      <h2><strong>Courses I am learning</strong></h2>
      <ul>
        <li>100 days of code</li>
        <li>From zero to Mastery</li>
      </ul>
    </section>
    <hr />
    <section class="experience">
      <h2>Work Experience</h2>
      <table>
        <tr>
          <td>
            <div class="dates">
              <h3>Dates</h3>
              <p>2011-2013</p>
              <p>2013-2015</p>
              <p>2016-2023</p>
            </div>
          </td>
          <td>
            <div class="experience_description">
              <h3>Work</h3>
              <p>Comecei a tocar violão</p>
              <p>Entrei em bandas</p>
              <p>Toquei em casamentos</p>
            </div>
          </td>
        </tr>
      </table>
    </section>
    <hr />
    <section class="skills">
      <h2>Skills</h2>
      Python Development
      <p>Talk to People</p>
      <p>Flask</p>
    </section>
  </body>
</html>
